<div id="myModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <h1 id="myModalLabel">Password Change</h1>
    </div>

    <div class="modal-body">

        <form action="" method="post" id="passForm" class="pure-form pure-form-stacked">
            <legend>Choose a New Password</legend>

            <label for="pass1">New Password</label>
            <input id="pass1" type="password" name="pass1">

            <label for="pass2">Retype New Password</label>
            <input id="pass2" type="password" name="pass2" onChange="checkPasswordMatch();">
	    <div class="registrationFormAlert" id="matchUpdate"></div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="pure-button" data-dismiss="modal" aria-hidden="true">Close</button>
        <button onClick="jQuery('#passForm').submit();" id="submit" disabled class="pure-button pure-button-primary">Submit</button>
    </div>
</div>
